.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 100px 10%;
    min-height: 80vh;
    gap: 40px;
}

.hero-info h1{
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.name{
    color: var(--primary);
}

.typewriter{
    font-size: 2rem;
    color: #666;
    min-height: 3rem;
}

.cursor{
    color: var(--primary);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {opacity: 0;}
}

.hero-buttons{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.btn-primary,
.btn-secondary {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #eee;
    transition: all 0.3 s ease;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: var(--primary);
    color: white;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.card-placeholder {
    width: 100%;
    background: #1a1a1a;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    display: flex;
}

.card-placeholder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

.card-placeholder:hover img {
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .hero{
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }

    .hero-buttons {
        justify-content: center;
    }
}